.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.accent {
  color: #2e2f42;
}

.link {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: "Roboto", sans-serif;
  font-weight: regular;
}

.button {
  color: #ffffff;
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
  color: #2e2f42;
}

.address:hover,
.address:focus {
  color: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-weight: regular;
}

.main-section {
  background-color: #2e2f42;
}

.main-header {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  background-color: #2e2f42;
  text-align: center;
  letter-spacing: 0.02em;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.second-header-advanteges {
  color: #2e2f42;
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.second-header-our-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-weight: 500;
  color: #2e2f42;
}

.our-team-list {
  background-color: #ffffff;
}

.second-header-our-portfolio {
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-size: 36px;
  color: #2e2f42;
}
.third-header {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.small-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: "Roboto", sans-serif;
  font-weight: regular;
}

.our-team-section {
  background-color: #f4f4fd;
}

.advantages-section {
  background-color: #ffffff;
}

.our-portfolio {
  background-color: #ffffff;
}

.footer {
  background-color: #2e2f42;
}

.footer-text {
  color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-weight: regular;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.accent-footer {
  color: #f4f4fd;
}
