.link {
  color: #2e2f42;
}

.link {
  font-size: 12px;
}

.link {
  line-height: 1.333;
}

.link:hover,
.link:focus {
  color: #4d5ae5;
}

.button {
  color: #ffffff;
  line-height: 1.5;
}

.button:hover,
.button:focus {
  color: #2e2f42;
}

.mail {
  color: #434455;
  font-size: 12px;
  line-height: 1.16;
}

.mail:hover,
.mail:focus {
  color: #4d5ae5;
}

.tel {
  color: #434455;
  font-size: 12px;
  line-height: 1.16;
}

.tel:hover,
.tel:focus {
  color: #4d5ae5;
}

body {
  font-family: "Roboto" "Helvetica Neue", "Verdana", sans-serif;
  color: #2e2f42;
}

.main-header {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
}

.second-header {
  color: #2e2f42;
  font-size: 36px;
}

.third-header {
  color: #2e2f42;
  font-size: 20px;
}

.small-text {
  color: #434455;
  font-size: 12px;
}

.small-text {
  line-height: 1.16;
}
